@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}  

header#cab{
	background-image : url("imagens/azul.jpg") ;
	border-radius: 30px;
}   

header#h3 {
	border-radius:15px;
	border: 2px solid black;
}

img#had{
	padding: 20px;
	width: 97%;
}
h1{
	color: #ffffff;	
	text-align: center;
	padding: 40px;
}

h2{
	text-decoration : none;
	background-color: #0d73d0;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius:5px;
	border : 0;
	cursor: pointer;
}

h3{
	margin: 30px;
	color: #010208;
	/*background-color: f0f0f0;*/
	padding: 10px;
	text-align: justify;
}

h4{
	top : left;
	text-align : right;
	background-color : #66bbff;
}
table#tabela1 {
	margin-top: 30px;
	border-collapse : collapse;
}

table#tabela1 th{
	border : 1px solid #ddd;
	padding: 10px;
	text-align: left;
	background-color:#0d73d0;
	color: #fff; 	
}

#tabela1 td{
	border : 1px solid #ddd;
	padding: 10px;
}

.Botao1 {
	text-decoration : none;
	background-color: #0d73d0;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius:5px;
	border : 0;
	cursor: pointer;
}

.Botao2 {
	text-decoration : none;
	background-color: #00a000;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius:5px;
	border : 0;
	cursor: pointer;
}

.Botao3 {
	text-decoration : none;
	background-color: #ff4500;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius:5px;
	border : 0;
	cursor: pointer;
}

.Caixa1 {
	width:320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px ;
}

.Caixa2 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #66bbff;
	border-radius: 5px ;
}

#Caixa3 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
	border-radius: 5px ;
}
